.transactionHistory {
    display: flex;
    margin: 10px auto;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 220px;
    border: 2px solid tomato;
}

.head {
    background-color: aqua;
}
